In [227]:
import numpy as np
import pandas as pd

In [228]:
df = pd.read_csv('data/database.csv', sep=',')

In [229]:
# Filter timestamps
df = df[((df['Time'] > '10:00:00') & (df['Time'] < '20:00:00') & \
     ((df['Time'] < '14:20:00') | (df['Time'] > '15:20:00')) & \
     (df['Date'] != '2017/12/24') & (df['Date'] != '2017/12/25'))]

df['Time'] = df['Time'].str.split(':').apply(lambda x: int(x[0]) * 3600 + int(x[1]) * 60 + int(x[2]))

# Calculate averages
df['S1_Temp'] = (df['S1_Temp'] + df['S2_Temp'] + df['S3_Temp'] + df['S4_Temp'])/4
df = df.drop(labels=['S2_Temp', 'S3_Temp', 'S4_Temp'], axis=1)

df['S1_Sound'] = (df['S1_Sound'] * df['S2_Sound'] * df['S3_Sound'] * df['S4_Sound']) ** (1/4)
df = df.drop(labels=['S2_Sound', 'S3_Sound', 'S4_Sound'], axis=1)

# Reorganize the DataFrame after modifications
df = df.rename(columns={"S1_Temp" : "Avg_Temp", "S1_Light" : "Avg_Light*", "S1_Sound" : "Avg_Sound"})
df = df.reset_index(drop=1)

# Test print
df

,Date,Time,Avg_Temp,Avg_Light*,S2_Light,S3_Light,S4_Light,Avg_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count
0,2017/12/22,38981,24.9075,121,34,53,40,0.086008,390,0.769231,0,0,1
1,2017/12/22,39012,24.9225,121,33,53,40,0.113747,390,0.646154,0,0,1
2,2017/12/22,39042,24.9225,121,34,53,40,0.122751,390,0.519231,0,0,1
3,2017/12/22,39073,24.9375,121,34,53,40,0.138598,390,0.388462,0,0,1
4,2017/12/22,39104,24.9375,121,34,54,40,0.078964,390,0.253846,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,2018/01/10,71877,25.4700,0,0,0,0,0.062997,435,-2.050000,0,0,0
2450,2018/01/10,71907,25.4700,0,0,0,0,0.059579,430,-2.192308,0,0,0
2451,2018/01/10,71938,25.4700,0,0,0,0,0.065935,435,-2.153846,0,0,0
2452,2018/01/10,71968,25.4550,0,0,0,0,0.062997,435,-2.126923,0,0,0
2453,2018/01/10,71999,25.4375,0,0,0,0,0.062997,430,-2.111538,0,0,0

In [230]:
df.to_csv('data/averages_db.csv', sep=',')